.App {
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 10px;
  width: 90vw;
  min-height: 80vh;
  flex-direction: column;
}
